{% extends "base.html" %}
{% block content %}

        <form action="{{url_for('thanks')}}">

            <div class="input-group mb-3">
                <span class="input-group-text" id="userfirst">Fist Name</span>
                <input type="text" name="first" class="form-control" aria-label="Last Name">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="userlast">Last Name</span>
                <input type="text" name="last" class="form-control" aria-label="Last Name">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

{% endblock %}